The Variables

Variables have a place to store data that is mutable (its value can change). The data itself is a value that is stored in a certain variable that has a type.

Variables in python can be created with this format

In [3]:
x = 5

5

X is the variable and 5 is the data stored in the variable X. To view the contents of the variable, we can use the print function

In [ ]:
print(x)

Variable creation in python has rules that must be obeyed. the following are the rules for writing variables
1. Variable names can start with letters/underscores (_), for example: x, X, _x, _X
2. Subsequent characters can be letters, underscores (_) or numbers, for example: x1, Xa, X_
3. Characters in variable names are case sensitive, meaning that the lowercase and uppercase letters are different. Example: x and X are different
4. Variable names cannot use keywords that already exist in python

In [5]:
_x = 1
x = 1
_X = 1
X = 1

x1 = 1
xa = 1
X1 = 1
X_ = 1

When a variable that we created earlier is no longer needed, then we can delete it with the del() function.

In [8]:
del(X)

In [9]:
print(X)

NameError: name 'X' is not defined

variable X no longer exists, therefore the program will error. In the last command, we will get "NameError". This means that the variable that does not exist in the memory alias has been deleted.

Data Type

The first way to fill in a variable is to identify the type of data to be filled. for example, if the variable will be filled with text data, the data will be formatted (""), whereas if the variable will be filled with numeric data, the desired number can be written directly. Python will automatically recognize the type of data or the type of data stored in a variable. as an example,

In [12]:
_string = "Nilai String"
_angka = 1

print(_string)
print(_angka)

Nilai String
1

so that we know more about the data type of a variable, we can use the type() function.

In [15]:
# type(_string)
type(_angka)

int

Types of Data Types
In general, data types in python are divided into three types:
1. Number data type
2. Text data type
3. The data type is bool

Number Data Type
Number data types are divided into:
1. data type int (Integer): integer, eg 1, 2, 3, etc.
2. float data type: fractional number, for example 1.5, 2.5, 3.5, etc.

Example:

In [17]:
tipe_integer = 110 #tipe int
tipe_float = 11.2 #float
tipe_float2 = 2e3 #float 3000.0, huruf e artinya eksponen 10

2000.0

Text data types
Text data types are divided into several types:
1. Char data type: Character, for example, 'R'.
1. String data type: A set of characters, for example, "I'm eating".
Writing text data types must be enclosed in quotation marks. Can use single quotes ('...'), double ("..."), and triple ('''...''' or ""...""").

Example:

In [18]:
nama = "aku makan"
kelamin = 'L'
alamat = """Karangpilang 60221"""

Karangpilang 60221

Boolean data type
The boolean data type is a data type that only has two values, namely True and False or 0 and 1. Writing True and False, the first letter must be capitalized and without quotes.

In [ ]:
ryan = True
ismi = False
agree = 1 #tipe int tetapi bisa juga menjadi tipe bool
disagree = 0